* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
    
}


body {
    background-color: #f2d7be;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 80px;
    height: 100px;
    background: rgba( 109, 3, 3, 0.75 );
    border-radius: 50px;
    position: fixed;
    width: 60%;
    left: 0;
    right: 0;
    margin-inline: auto;
    margin-top: 20px;

    
        
}

a {
    color: inherit;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
    
}

.nav-list {
    display: flex;
    gap: 20px;
    font-size: 20px;
    
    
    
}


.logo {
    height: 100px;
}

